<ion-tabs>

  <ion-fab class="swap" vertical="bottom" horizontal="center">
    <ion-fab-button>
      <ion-icon name="chevron-up-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="tab1">
      <ion-icon name="library-outline"></ion-icon>
      <ion-label></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="chatbubbles-outline"></ion-icon>
      <ion-label></ion-label>
    </ion-tab-button>

    <ion-tab-button></ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="swap-vertical-outline"></ion-icon>
      <ion-label></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="list-circle-outline"></ion-icon>
      <ion-label></ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
